/* Overrides */
/*Keep region highlighted when selected*/
.region-selected {
    color:#deebff;
    background-color:rgba(9,30,66,.48)
}

section.aui-page-panel-content img {
    opacity: 0.3;
    height: 200px;
    position: absolute;
    top: 140px;
    left: 330px;
}

#serviceStatus, #stackState, #currentVersion {
    max-height: 20px;
}

#serviceStatus aui-spinner, #stackState aui-spinner, #currentVersion aui-spinner {
    left: 110px;
    top: -20px;
}

#paramsList {
    min-height: 100px;
}

#templateSelection, #templates {
    min-width: 500px;
}

#ebsSnapshotSelection {
    min-width: 350px;
}

#rdsSnapshotSelection {
    min-width: 360px;
}

#descriptionPanel {
    padding-bottom: 15px;
    color: #42526E;
}
#descriptionPanel code {
    background-color: #F4F5F7;
}

.aui-dropdown2 {
    max-height:250px;
    overflow:scroll;
}

#updateTemplatesBtn.update-templates {
    background: #0052CC;
}

#updateTemplatesBtn.update-templates:after {
    content: "Update Templates";
}

#updateTemplatesBtn.update-forge {
    background: #BF2600;
}

#updateTemplatesBtn.update-forge:after {
    content: "Update & Restart Forge";
}

#updateTemplatesBtn.update-disabled {
    background: #F4F5F7;
    color: #A5ADBA;
}
