{% extends "page-content.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ get_filename_with_last_update_time('static/js/upgrade.js') }}"></script>
{% endblock head %}

    {% block descriptionPanel %}
    Enter the version you want to upgrade to. Forge will destroy all the current nodes immediately, and create new ones on the new version, by first bringing up one node to run the upgrade tasks, then bringing up the rest.
    </p><p>
    Upgrades for Jira can be done with zero downtime if you have more than one node in the cluster, are on a ZDU compatible version, and have admin credentials to enter. In this case, each node will be destroyed and replaced one by one.
    {% endblock descriptionPanel %}

{% block extraInput %}

{#  Upgrade version selector  #}
<div class="aui-panel">
    <form class="aui top-label">
        <fieldset class="top-label">
            <div class="field-group top-label">
                <label for="toplabelfieldexample">Upgrade Version</label>
                <input class="text" type="text" id="upgradeVersionSelector" name="toplabelfieldexample" disabled>
            </div>
            <div id="zduCheckDiv" style="display:none">
                <label id="zduCheckLbl" style="opacity: 0.5">Checking Zero Downtime Upgrade compatibility ...</label>
            </div>
            <div class="checkbox" id="performZDUDiv" style="display:none">
                <input class="checkbox" type="checkbox" name="zduCheckBox" id="zduCheckBox">
                <label id="zduCheckBoxLbl" for="zduCheckBox">Perform ZDU upgrade</label>
            </div>
        </fieldset>
    </form>
    <div class="aui-group">
    <div class="aui-item">
        <!-- Version checking not currently working, so hiding -->
        <button id="versionCheckButton" class="aui-button" disabled style="display: none;">Check</button>
    </div>
    <div class="aui-item" id="versionExists">
        {#    Filled in by JS    #}
    </div>
    </div>
</div>

{% endblock extraInput %}

{% block buttonText %}Upgrade{% endblock buttonText %}